.banner{
    background-image: url("Banner\ Image.png");
    width: 80%;
    max-width: 1322px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
}
.happy-new-year{
    padding: 80px 150px;
    margin-bottom: 40px;
    color: #231996;

    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
}


/* text color text color */
/* text color text color */


.happy-new-year-pic-text{
padding: 50px 500px;
text-align: center;
font-family: 'Merriweather', serif;
font-family: Inter;
}


.off-text{
    color: #F00;

text-align: center;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.our-holiday{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.ALL-CATEGORIES{
    color: #070211;

text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.new-year-img{

    width: 770px;
    /* max-width: 1322px; */
    margin: 0 auto;
}


/* 2nd banner 2nd banner 2nd banner  */
/* 2nd banner 2nd banner 2nd banner  */


.second-banner{
    background-image: url("Vectorrr.png");
    width: 80%;
    max-width: 1322px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 120px;

}
.second-banner-text-and-img{
    display: flex;
    justify-content: space-between;
    padding: 110px;
    height: 400px;

}

.welcome-to-midnight-party{
color: #FFF;
font-family: 'Merriweather', serif;
font-size: 64px;
font-weight: 900;
line-height: 88px;
}

.second-banner-descriptin{

    color: rgba(255, 255, 255, 0.80);

font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;

}


a{
    text-decoration: none;
    color: white;
}


/* fourth part */

.place-date-time-bg-color{

    background-color: #fce5e5;
    /* width: 1320px;
    height: 400px;
    margin: 0 auto; */

    width: 80%;
    max-width: 1322px;
    height:400px;
    margin: 0 auto;
    background-size: contain;
    

}

.place-date-time{
 color: #070211;
 font-family: Inter;
 font-size: 20px;
 font-style: normal;
 font-weight: 600;
 line-height: 56px;
 text-transform: capitalize;

}

.place-date-time-color{

color: #F00;

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
}

.place-date-time-btn{
    text-align: center;
    /* gap: 10px;
    padding: 100px 280px; */
    width: 80%;
    max-width: 1322px;
    margin: 0 auto;
    background-size: contain;
    padding-top: 80px;
    

}


.join-btn{

    border-radius: 8px;
background: #F00;
border: 0px;
color: white;
font-size: 20px;
font-weight: 700px;
padding: 15px 35px;

}

.new-best-offer-all{
    display: flex;
        width: 80%;
    max-width: 1322px;
    margin: 0 auto;
    background-size: contain;
    padding-top: 50px;
    gap: 100px;
    

}

.new-best-offer{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.coming-soon{
    color: #070211;

font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}

.dollar-sit-amet{
    color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */

}

.ellipse-pic{
 width: 264.844px;
height: 264.844px;
border-radius: 463px;
border: 20px solid #F00;
width: 463px;
height: 463px;
padding: 30px;
}

.two-thousand-2k24{
    color: #F00;

font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.dollar-sit-amet2{
    color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */

}
.group-96-pic{
    width: 140px;
height: 140px;
flex-shrink: 0;
}
.happy-new{
    padding-right: 50px;
}





