.banner{
    background-image: url("Banner\ Image.png");
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    display: flex;
    margin: 0 auto;
}
.happy-new-year{
    padding-left: 270px;
    margin-bottom: 40px;
    color: #ffffff;
    font-family: 'Merriweather', serif;
    font-size: 62px;
    text-align: center;
   
}


/* text color text color */
/* text color text color */


.happy-new-year-pic-text{
padding: 50px 500px;
text-align: center;
font-family: 'Merriweather', serif;
font-family: Inter;
}


.off-text{
    color: #F00;

text-align: center;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.our-holiday{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.ALL-CATEGORIES{
    color: #070211;

text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.new-year-img{

    width: 770px;
    /* max-width: 1322px; */
    margin: 0 auto;
    padding-bottom: 80px;
}


/* 2nd banner 2nd banner 2nd banner  */
/* 2nd banner 2nd banner 2nd banner  */

.banner-2 {
    background-image: url('Vectorrr.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    display: flex;
    margin: 0 auto;
}

.welcome-to-midnight {
    color: #fff;
    width: 600px;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 7px;
    padding: 50px 120px 0px 200px;
}

.dolor-sit-amet-consectetur {
    color: rgb(252, 248, 248);
    width: 600px;
    font-size: 25px;
    font-weight: 400;
    padding: 0px 40px 0px 200px;

}

.join-btn2 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 0px 0px 0px 200px;
}

.pic{
    padding-top: 50px;
    justify-content: center;
    width: 320px;
    height: 465px;
}





a{
    text-decoration: none;
    color: white;
}


/* fourth part */

.place-date-time-bg-color{
    background-color: rgb(243, 239, 239);
    /* width: 80%;
    max-width: 1322px;
    margin: 0 auto; */

    width: 1320px;
    height: 600px;
    display: flex;
    margin: 0 auto;
    background-size: contain;
    text-align: center;
    margin-top: 110px;
    height:400px;
}

.place-date-time{
    color: #070211;
    font-family: Inter;
    font-size: 20px;

   
   }
   .place-date-time-color{

    color: #F00;
    
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; 
    text-transform: capitalize;
    }
    .place-date-time-btn{
        text-align: center;
        width: 80%;
        max-width: 1322px;
        margin: 0 auto;
        background-size: contain;
        padding-top: 80px;
        
    
    }
    .join-btn{

        border-radius: 8px;
    background: #F00;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;
    font-family: Inter;
    
    }



/* new section */



.new-best-offer-all{
    display: flex;
        width: 80%;
    max-width: 1322px;
    margin: 0 auto;
    background-size: contain;
    padding-top: 50px;
    gap: 100px;
    justify-content: space-between;
    

}

.new-best-offer{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.coming-soon{
    color: #070211;

font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}

.dollar-sit-amet{
    color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;

}

.ellipse-pic{
 width: 264.844px;
height: 264.844px;
border-radius: 463px;
border: 20px solid #F00;
width: 463px;
height: 463px;
padding: 30px;
}

.two-thousand-2k24{
    color: #F00;

font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.dollar-sit-amet2{
    color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;

}
.group-96-picture{
    width: 140px;
height: 140px;

}



/* best gift section */



.THE-BEST-GIFTS{

    color: #F00;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.Our-Awesome-Portfolio{

    color: #070211;

font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;

}

.Dolor-sit-amet{

    color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;

}

.best-gift-section{
    width: 80%;
    max-width: 1322px;
    margin: 0 auto;
    background-size: contain;
    padding-top: 150px;

}

.img:hover{
    border: 5px solid greenyellow;
    border-radius: 15px;
    cursor: pointer;
}

.gift-section{

    width: 80%;
    max-width: 1322px;
    margin: 0 auto;
    background-size: contain;
}

.rows{

    display: flex;
    gap: 20px;
}

.email-box1{
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
width: 80%;
max-width: 1322px;
margin: 0 auto;
background-size: contain;
text-align: center;
margin-top: 110px;
height:400px;
padding: 80px 0px;

}
.email-pic{
    width: 150px;
height: 150px;
flex-shrink: 0;
}

.Subscribe-newsletter{
    color: #070211;

    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;

}

.dolor-email-descriptions{

    color: rgba(7, 2, 17, 0.60);

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */

}
.user-input{
border-radius: 50px;
background: #FFF;
width: 548px;
height: 72px;
}


.user-btn{
    border-radius: 0px 50px 50px 0px;
background: #F00;
width: 210px;
height: 72px;
color: white;
border: 0px;
margin-right: 100px;
}



.footer-section{
    height: 600px;
    margin: 0 auto;
    background-color: #070211;
    padding-top: 80px;
    max-width: 1522px;
    background-size: contain;
    margin-top: 110px;
    padding: 80px 0px;
}


.upper-text{
    display: flex;
    justify-content: center;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    gap: 700px;
}
.icon{
    text-align: center;
    padding-top: 80px;
}

.copyright-btn{
display: flex;
justify-content: center;
color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 40px;
gap: 900px;
    
}

.last-btn{
    border-radius: 8px;
background: #F00;
border: 0px;
color: white;
font-size: 20px;
font-weight: 700px;
padding: 15px 35px;
font-family: Inter;

}











 